* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1400px;
}

#top_panel {
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 8px 0 0 0;
	color: #fff;
	background: #000;
}

#top_panel ul {
	width: 1400px;
	margin: 0 auto;
}
#top_panel ul li {
	display: inline-block;
	margin: 0 8px;
}
#top_panel ul li a {
	color: #fff;
}
#top_panel ul li a:hover {
	text-decoration: none;
}

#container {
	width: 1400px;
	height: 800px;
	margin: 50px auto;
}

/*----------------- CHAT VIEW -----------------*/
#chat_view {
	background: #B8D6F6;
}

/*----------------- BOARD ---------------------*/
#board {
	width: 700px;
	height: 100%;
	float: left;
	margin: 0 15px 0 0;
}
#add_to_board_block textarea {
	width: 200px;
	height: 60px;
	padding: 8px;
}
#add_note_link {
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	vertical-align: top;
}
#notes_block .simple_note {
	display: inline-block;
	padding: 10px;
	background: #fff;
	margin: 10px;
	max-width: 220px;
    border-radius: 5px;
    box-shadow: #000 1px 1px 6px;
}
#notes_block .simple_note .edit_note {
	display: inline-block;
	padding: 6px;
	width: 200px;
	height: 60px;
	margin: 0 15px 0 0;
}
#notes_block .simple_note .note_save_btn {
	color: green;
	cursor: pointer;
}
#notes_block .simple_note .note_del_btn {
	color: red;
	cursor: pointer;
    float: right;
    margin: 0 5px 0 0;
}

/*---------------- CHAT ----------------------*/

#chat {
	width: 600px;
	height: 90%;
	float: left;
}

#chat_box {
	overflow-y: scroll;
	height: 90%;
	width: 600px;
	margin: 10px auto;
	border: 1px #fff solid;
	background: #fff;
}

#chat_box .date {
	float: right;
	margin: 0 10px 0 0;
	color: #99b;
	font-size: 12px;
}
#chat_box .name {
	margin: 0 10px 0 0;
	color: #44b;
	font-size: 15px;
	font-weight: bold;
}
#chat_box .message {	
	display: block;
	margin: 10px 30px;
	font-size: 14px;
}

#add_msg {
	width: 590px;
	margin: 10px 0;
}
#new_msg {
	display: block;
	height: 80px;
	width: 590px;
	margin: 10px auto;

	padding: 5px;
	font-size: 17px;
}

.is_write {
	margin: -5px auto 5px auto;
  	width: 595px;
  	height: 15px;
}
.is_write img {
	width: 10px;
	height: 10px;
	display: none;
}

#search {
	background: url(/assets/images/loupe.png) no-repeat #fff;
	background-size: 16px 16px;
	background-position: 2px;
	padding: 5px 20px;	
}

.base_input{
	height: 15px;
	border: none;
	padding: 5px;	
}

#not_found {
	text-align: center;
  	color: #777;
  	margin-top: 50%;
}
/*---------------- END OF CHAT ----------------------*/


/*---------------- REGISTRATION ---------------------*/


.register_from{
	margin: 10% auto;
	width: 216px; 
	height: 250px;
}

.register_from .base_input{
	border: 1px solid #3c7f9f!important;
	margin: 2px 0;
    height: 20px;
}

.register_from label {
	font-weight: bold;
	float: left;
}

.form_bg{
	background: #3f9fc9;
	position: absolute;
	height: 100%;	
	width: 100%;
}

.err_msg {
    font-weight: bold;
    height: 19px;
    margin: -8px 0;
    text-align: center;
    width: 216px;
}

.form_container{
	display: inline-block;
	position: absolute;
	height: 312px;
}

.form_container.one{
	float: left;
	left: 35%;
}

.form_container.two{
	left: 55%;
}

.btns.big_margin{
	margin-top: 110px!important;
}

/*-------------- END OF REGISTRATION ----------------*/
