* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 1400px;
}

#top_panel {
	width: 100%;
	height: 30px;
	margin: 0;
	padding: 8px 0 0 0;
	color: #fff;
	background: #000;
}

#top_panel ul {
	width: 1400px;
	margin: 0 auto;
}
#top_panel ul li {
	display: inline-block;
	margin: 0 8px;
}
#top_panel ul li a {
	color: #fff;
}
#top_panel ul li a:hover {
	text-decoration: none;
}

#container {
	width: 1400px;
	height: 800px;
	margin: 50px auto;
}

/*----------------- CHAT VIEW -----------------*/
#chat_view {
	background: #0079BF;
}

/*----------------- BOARD ---------------------*/
#board {
	width: 700px;
	height: 100%;
	float: left;
	margin: 0 15px 0 0;
}
#add_to_board_block textarea {
	width: 200px;
	height: 60px;
	padding: 8px;
}
#add_note_link {
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	vertical-align: top;
}
#notes_block .simple_note {
	display: inline-block;
	padding: 10px;
	background: #fff;
	margin: 10px;
	max-width: 200px;
}

/*---------------- CHAT ----------------------*/

#chat {
	width: 600px;
	height: 90%;
	float: left;
}

#chat_box {
	overflow-y: scroll;
	height: 90%;
	width: 600px;
	margin: 10px auto;
	border: 1px #fff solid;
	background: #fff;
}

#chat_box .date {
	float: right;
	margin: 0 10px 0 0;
	color: #99b;
	font-size: 12px;
}
#chat_box .name {
	margin: 0 10px 0 0;
	color: #44b;
	font-size: 15px;
	font-weight: bold;
}
#chat_box .message {	
	display: block;
	margin: 10px 30px;
	font-size: 14px;
}

#add_msg {
	width: 590px;
	margin: 10px auto;
}
#new_msg {
	display: block;
	height: 80px;
	width: 590px;
	margin: 10px auto;

	padding: 5px;
	font-size: 17px;
}

.is_write {
	margin: -5px auto 5px auto;
  	width: 595px;
  	height: 15px;
}
.is_write img {
	width: 10px;
	height: 10px;
	display: none;
}
/*---------------- END OF CHAT ----------------------*/