* {
	margin: 0;
	padding: 0;
}


/*---------------- CHAT ----------------------*/

#chat_box {
	overflow-y: scroll;
	height: 70%;
	width: 1000px;
	margin: 10px auto;
}

#chat_box .date {
	float: right;
	margin: 0 10px 0 0;
	color: #99b;
	font-size: 12px;
}
#chat_box .name {
	margin: 0 10px 0 0;
	color: #44b;
	font-size: 15px;
	font-weight: bold;
}
#chat_box .message {	
	display: block;
	margin: 10px 30px;
	font-size: 14px;
}

#add_msg {
	width: 1000px;
	margin: 10px auto;
}
#new_msg {
	display: block;
	height: 80px;
	width: 1000px;
	margin: 10px auto;

	padding: 5px;
	font-size: 17px;
}

.is_write {
	margin: -5px auto 5px auto;
  	width: 900px;
  	height: 15px;
}
.is_write img {
	width: 10px;
	height: 10px;
	display: none;
}
/*---------------- END OF CHAT ----------------------*/